* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table {
    border: none;
}

.mainpage {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1195px;
    background: #F6F7F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.patientsName img {
    width: 48px;
    height: 48px;
}

.patientsName table {
    width: 317px;
    height: 48px;
    top: 215px;
    left: 38px;
}

.patientsName table tbody tr td:first-child {
    width: 48px;
    height: 48px;
}

.patientsName table tbody tr {
    width: 317px;
    height: 48px;
}

.patientname {
    top: 122px;
    left: 18px;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.patientname .patient-table {
    height: 1054px;
    overflow-y: scroll;

}

.patientname .row img {
    width: 18px;
    height: 18px;
}

.getdetails img {
    height: 96px;
    width: 96px;
}

.getdetails .card {
    height: 100%;
    background: #E0F3FA 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

.fulldetails {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    width: 100%;
    padding: 10px;
}

.fulldetails button {

    width: 220px;
    height: 41px;
    background: var(--activestate_bg_1) 0% 0% no-repeat padding-box;
    background: #01F0D0 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
}

.headertest {
    width: 90%;
    height: 72px;
    margin: auto;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 70px;
    opacity: 1;
}

.headertest .collapse {
    text-align: center;
    justify-content: end;
}

.headertest .navbar-brand img {
    margin-bottom: 40px;
}


.diagnosticList table thead th {
    background-color: none;
}

.diagnosticList {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.diagnosticList table {
    border-bottom: none;
}

.mainpage .middle {
    top: 122px;
    left: 417px;
    width: 766px;
    height: 673px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.main {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1195px;
    background: #F6F7F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.head {
    padding-top: 18px;
    left: 18px;
    width: 90%;
    margin: auto;
    height: 72px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 70px;
    opacity: 1;
}

.headertest .navbar-brand img {
    padding-left: 20px;
    width: 211px;
    height: 48px;
    opacity: 1;
}

.headertest .seniordoctor table img {
    width: 44px;
    height: 44px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.headertest .seniordoctor table tr td p:last-child {
    width: 150px;
    height: 5px;
    margin-bottom: 50px;
}

.headertest .seniordoctor table tr td:last-child p {
    height: 5px;
}

.labresult {
    height: 296px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}